Repository hyperlocal-equipe-5/hyperlocal-front: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(pages): implement qrcode generation
  package-lock.json
  src/pages/Qrcode/Qrcode.tsx
  yarn.lock
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(pages): implement qrcode generation
  package.json
  yarn.lock
Due: none

feat: Created product page and change router #25
  src/components/CategoryBox/index.tsx
  src/components/ProductButton/index.tsx
  src/infra/api/factories/routers/order/orderRouterAdmin-factory.ts
  src/infra/api/routers/order/orderAdmin-router.ts
  src/pages/CategoryPage/index.tsx
  src/pages/CategoryPage/styled.ts
  src/pages/Form/styled.ts
  src/pages/Home/index.tsx
  src/pages/Home/styled.ts
  src/pages/ProductPage/index.tsx
  src/pages/ProductPage/styled.ts
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: created component input check box #25
  src/components/CheckBox/index.tsx
  src/pages/ProductPage/index.tsx
  src/pages/ProductPage/styled.ts
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: created component input check box #25
  datafake.json
  package.json
  src/colors.css
  src/components/CheckBox/index.tsx
  src/pages/ProductPage/index.tsx
  src/pages/ProductPage/styled.ts
  src/pages/Redux-example/CreateTestProduct.tsx
  src/pages/Redux-example/ReduxTest.tsx
  src/pages/Redux-example/ShowTestProducts.tsx
  src/pages/errorPage/index.tsx
  src/routes/index.tsx
  yarn.lock
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

fix(redux): fix slice get methods
  src/store/slices/category-slice.ts
  src/store/slices/ingredient-slice.ts
  src/store/slices/order-slice.ts
  src/store/slices/product-slice.ts
  src/store/slices/restaurant-slice.ts
  src/store/slices/review-slice.ts
  src/store/slices/role-slice.ts
  src/store/slices/table-slice.ts
  src/store/slices/testProduct.slice.ts
  src/store/slices/user-slice.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix

feat(pages): implement data transfer
  src/components/CategoryBox/index.tsx
  src/components/DataLoader/DataLoader.tsx
  src/infra/api/connection/apiConnection.ts
  src/main.tsx
  src/pages/CategoryPage/index.tsx
  src/pages/Home/index.tsx
  src/routes/index.tsx
  src/store/slices/category-slice.ts
  src/store/slices/restaurant-slice.ts
  src/store/store.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

fix(fix): fix
  src/infra/api/factories/routers/order/orderRouterAdmin-factory.ts
  src/infra/api/routers/order/orderAdmin-router.ts
  src/pages/CategoryPage/index.tsx
  src/pages/Home/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(redux): implment redux connections
  src/components/DataLoader/DataLoader.tsx
  src/pages/Cadastro/Cadastro.tsx
  src/pages/CategoryPage/index.tsx
  src/pages/Form/RoleForm/index.tsx
  src/pages/Form/RoleForm/styled.module.scss
  src/pages/Form/UserForm/index.tsx
  src/pages/Home/index.tsx
  src/pages/Login/Login.tsx
  src/pages/ProductPage/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

refactor: refactoring buttons and container styles, creating new components #25
  mock/db.json
  package-lock.json
  src/components/CheckBox/index.tsx
  src/components/ProductButton/index.tsx
  src/components/Qrcode/Qrcode.scss
  src/components/Qrcode/Qrcode.tsx
  src/components/navbar/index.tsx
  src/components/navbar/styled.ts
  src/index.scss
  src/pages/CategoryPage/index.tsx
  src/pages/CategoryPage/styled.ts
  src/pages/Form/RoleForm/index.tsx
  src/pages/Form/index.tsx
  src/pages/Form/styled.ts
  src/pages/Home/index.tsx
  src/pages/ProductPage/index.tsx
  src/pages/ProductPage/styled.ts
  src/pages/errorPage/index.tsx
  src/routes/index.tsx
  src/routes/router.tsx
  src/style/Button.tsx
  src/style/Container.tsx
  src/utils/api/api.tsx
  src/utils/types/request.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(component): add ImageInput, image to string converter
  src/components/ImageInput/ImageInput.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(component): add ImageInput, image to string converter
  src/pages/Form/RestaurantForm/index.tsx
  src/pages/Home/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

refactor: refactoring the types and css of react components and functions
  .eslintrc.cjs
  src/components/Permissions/Permissions.tsx
  src/components/Permissions/type.tsx
  src/components/ProductButton/index.tsx
  src/components/ProductButton/styled.ts
  src/components/navbar/styled.ts
  src/pages/CategoryPage/index.tsx
  src/pages/CategoryPage/styled.ts
  src/pages/Form/RestaurantForm/index.tsx
  src/pages/Form/index.tsx
  src/pages/Form/styled.ts
  src/pages/Home/index.tsx
  src/pages/Home/styled.ts
  src/store/slices/category-slice.ts
  src/style/Container.tsx
  tailwind.config.cjs
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(docs): add documentation
  README.md
Due: none

chore(domain): add password recovery dtos
  src/domain/dto/passwordRecovery/requestPasswordRecovery-dto.ts
  src/domain/dto/passwordRecovery/updatePassword-dto.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix

feat(routers): add password recovery router
  src/infra/api/routers/passwordRecovery/passwordRecovery-router.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix

chore(abstract): add password recovery router interface
  src/infra/api/abstract/routers/passwordRecovery/passwordRecoveryRouter-interface.ts
  src/infra/api/routers/passwordRecovery/passwordRecovery-router.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix

feat(router): add password recovery router factory
  src/infra/api/factories/routers/passwordRecovery/passwordRecoveryRouter-factory.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix

refactor: refatoring form and created input component #16
  .eslintrc.cjs
  src/components/CheckBox/index.tsx
  src/components/Form/index.tsx
  src/components/InputText/index.tsx
  src/main.tsx
  src/pages/Home/index.tsx
  src/routes/index.tsx
  tailwind.config.cjs
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(infra): add api link
  src/infra/api/connection/apiConnection.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix

refactor: Refactoring form and components #25
  src/components/CheckBox/index.tsx
  src/components/Dropdown/index.tsx
  src/components/Dropdown/styled.ts
  src/components/DropdownButton/index.tsx
  src/components/Form/index.tsx
  src/components/Form1/index.tsx
  src/components/InputText/index.tsx
  src/mocks/permissions.tsx
  src/pages/Form/RestaurantForm/index.tsx
  src/pages/Form/RoleForm/index.tsx
  src/pages/Form/index.tsx
  src/pages/Home/index.tsx
  src/pages/ProductPage/index.tsx
  src/routes/index.tsx
  src/style/Button.tsx
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(pages): add resturant id localstorage store
  src/components/DataLoader/DataLoader.tsx
  src/helpers/handlers/class/haldler.ts
  src/pages/Home/index.tsx
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: update
  src/pages/Home/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

refactor: add restaurant page refactoring with component form #11
  src/components/CheckBox/index.tsx
  src/components/Form/index.tsx
  src/components/Form1/index.tsx
  src/components/InputText/index.tsx
  src/components/form2/Form.tsx
  src/components/form2/form.scss
  src/pages/Add/AddRestaurant/index.tsx
  src/pages/Add/index.tsx
  src/pages/Form11/RestaurantForm/index.tsx
  src/pages/Form11/RoleForm/index.tsx
  src/pages/Form11/RoleForm/styled.module.scss
  src/pages/Form11/UserForm/index.tsx
  src/pages/Form11/UserForm/styled.module.scss
  src/pages/Form11/index.tsx
  src/pages/ProductPage/index.tsx
  src/pages/ProductPage/styled.ts
  src/routes/index.tsx
  src/style/Button.tsx
  src/style/Container.tsx
  src/types/ButtonTypes.ts
  src/types/InputTypes.ts
  tailwind.config.cjs
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

refactor: refactoring add
  src/components/DropdownButton/index.tsx
  src/components/Form/index.tsx
  src/components/form2/Form.tsx
  src/domain/dto/order/createOrder-dto.ts
  src/domain/entities/ingredient.ts
  src/pages/Add/AddCategory/index.tsx
  src/pages/Add/AddOrder/index.tsx
  src/pages/Add/AddProduct/index.tsx
  src/pages/Add/AddRestaurant/index.tsx
  src/routes/index.tsx
  src/style/Form.tsx
  src/style/Help.tsx
  src/types/Dto/InputDto.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

refactor(roles): refactor the fucking role form
  src/pages/Form11/RoleForm/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(header): add set restaurant selection option
  src/components/SetRestaurant/SetRestaurant.tsx
  src/components/navbar/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(pages): improve forms
  src/pages/Cadastro/Cadastro.tsx
  src/pages/Form11/RoleForm/index.tsx
  src/pages/Home/index.tsx
  src/pages/Login/Login.tsx
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: create home desktop #29
  src/Hooks/useRecursiveTimeout.tsx
  src/assets/image/hamguersalada.png
  src/components/Carousel/Carousel.tsx
  src/components/Carousel/styled.module.scss
  src/components/Carousel/type.tsx
  src/mocks/produtos.tsx
  src/pages/Home/index.tsx
  src/pages/Home/styled.module.scss
  src/pages/Home/styled.ts
  src/routes/index.tsx
  src/style/container.tsx
  yarn.lock
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

refactor: icons size home
  .eslintrc.cjs
  src/pages/Home/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: new menu aside
  src/components/AsideNavbar/index.tsx
  src/components/Form/index.tsx
  src/components/Header/Header.tsx
  src/components/Header/index.tsx
  src/components/Header/styled.module.scss
  src/components/navbar/index.tsx
  src/pages/Form11/RoleForm/index.tsx
  src/pages/errorPage/index.tsx
  src/routes/index.tsx
  src/style/Container.tsx
  tailwind.config.cjs
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(pages): add mock data
  src/pages/ProductPage/index.tsx
  src/store/slices/category-slice.ts
  src/store/slices/product-slice.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

refactor: refactoring routs an fixing bug in home
  src/components/Header/index.tsx
  src/pages/Home/index.tsx
  src/pages/Menu/index.tsx
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

fix: resolving building problem
  src/components/Form/index.tsx
  src/style/Container.tsx
  src/style/Help.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

fix: resolving building problem
  src/components/Carousel/Carousel.tsx
  src/components/Form/index.tsx
  src/style/Container.tsx
  src/style/Help.tsx
  yarn.lock
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

fix: correction in build
  src/components/navbar/index.tsx
  src/components/navbar/styled.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

fix: error Navbar
  src/components/Navbar/index.tsx
  src/components/Navbar/styled.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

chore(slices): add mocked table data objects
  src/store/slices/table-slice.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix

feat(components) add BoxesBody component
  src/components/BoxesBody/BoxesBody.tsx
  src/components/BoxesBody/styled.module.scss
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

Path conditions:
  eslint "{src,apps,libs,test}/**/*.ts" --fix: any of: *.ts
  eslint "{src,apps,libs,test}/**/*.tsx" --fix: any of: *.tsx
