Repository hyperlocal-equipe-5/hyperlocal-front: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

.lintstagedrc.json:

{
  "*.ts": [
    "eslint \"{src,apps,libs,test}/**/*.ts\" --fix",
    "git add"
  ],
  "*.tsx": [
    "eslint \"{src,apps,libs,test}/**/*.tsx\" --fix",
    "git add"
  ]
}

chore: add and config tailwindcss
  package.json
  postcss.config.cjs
  src/colors.css
  src/index.css
  src/index.scss
  tailwind.config.cjs
  yarn.lock
Due: none

feat: created form page #16
  .eslintrc.cjs
  src/main.tsx
  src/pages/Form/RestaurantForm/index.tsx
  src/pages/Form/index.tsx
  src/pages/Form/styled.ts
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

creation of navbar and repair of routes #12
  src/app.tsx
  src/components/navbar/index.tsx
  src/components/navbar/styled.ts
  src/main.tsx
  src/routes/index.tsx
  tailwind.config.cjs
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: button component creation and styling for mobile #13
  .eslintrc.cjs
  src/components/buttons/index.tsx
  src/components/buttons/styled.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: creating the error page, repairing the routes and editing the button component's interface #13
  src/app.tsx
  src/components/buttons/index.tsx
  src/components/buttons/styled.ts
  src/pages/Home/index.tsx
  src/pages/Home/styled.module.scss
  src/pages/Home/styled.ts
  src/pages/errorPage/index.tsx
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: creating the CategoryBox #3
  index.html
  src/components/CategoryBox/index.tsx
  src/components/CategoryBox/styled.ts
  src/pages/Home/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

fix: repair in css of menu and CategoryBox #3
  src/components/CategoryBox/styled.ts
  src/components/navbar/index.tsx
  src/components/navbar/styled.ts
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: UseForm and RoleForm layout
  src/components/Header/Header.tsx
  src/components/Header/styled.module.scss
  src/components/Permissions/Permissions.tsx
  src/components/Permissions/styled.module.scss
  src/index.scss
  src/mocks/permissions.tsx
  src/pages/Form/RoleForm/index.tsx
  src/pages/Form/RoleForm/styled.module.scss
  src/pages/Form/UserForm/index.tsx
  src/pages/Form/UserForm/styled.module.scss
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: Interface creation, props and restyling #3
  src/components/CategoryBox/index.tsx
  src/components/CategoryBox/styled.ts
  src/pages/Form/styled.ts
  src/pages/Home/index.tsx
  src/pages/errorPage/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: connection with api #18
  package-lock.json
  package.json
  src/utils/api/api.tsx
  src/utils/types/request.ts
  yarn.lock
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

fix: fixing merge errors and creating example CategoryBox
  src/pages/Home/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: creation of the page to add forms and change routes #16
  src/components/Permissions/Permissions.tsx
  src/components/Permissions/styled.module.scss
  src/components/navbar/index.tsx
  src/pages/Form/RestaurantForm/index.tsx
  src/pages/Form/UserForm/index.tsx
  src/pages/Form/index.tsx
  src/pages/Form/styled.module.scss
  src/pages/Form/styled.ts
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: creation of the page to add forms and change routes #16
  src/components/Permissions/Permissions.tsx
  src/components/Permissions/styled.module.scss
  src/components/navbar/index.tsx
  src/pages/Form/RestaurantForm/index.tsx
  src/pages/Form/UserForm/index.tsx
  src/pages/Form/index.tsx
  src/pages/Form/styled.module.scss
  src/pages/Form/styled.ts
  src/pages/Home/index.tsx
  src/pages/Home/styled.ts
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

fix: removing the border #3
  src/components/CategoryBox/styled.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix

feat:create pages cadastrar #14
  src/components/form/Form.tsx
  src/pages/Cadastro/Cadastro.tsx
  src/pages/Cadastro/cadastro.scss
  src/pages/Login/Login.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: update pages cadastro page #14
  src/components/form/Form.tsx
  src/components/form/form.scss
  src/pages/Cadastro/Cadastro.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: update login LogIn page #14
  src/components/form/Form.tsx
  src/components/form/form.scss
  src/pages/Cadastro/Cadastro.tsx
  src/pages/Cadastro/cadastro.scss
  src/pages/Login/Login.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

refactor: Changing the name buttons to DropdownButtons and changing their commands #13
  .prettierrc.json
  src/components/CategoryBox/styled.ts
  src/components/Dropdown/index.tsx
  src/components/Dropdown/styled.ts
  src/components/buttons/index.tsx
  src/pages/Form/index.tsx
  src/pages/Form/styled.ts
  src/pages/Home/index.tsx
  src/pages/Home/styled.ts
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

refactor: Changing the name buttons to DropdownButtons and changing their commands #13
  package.json
  src/components/CategoryBox/styled.ts
  src/components/Dropdown/index.tsx
  src/components/Dropdown/styled.ts
  src/pages/Form/index.tsx
  src/pages/Form/styled.ts
  src/pages/Home/index.tsx
  src/pages/Home/styled.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: create OrderForm
  .eslintrc.cjs
  src/components/PesquisaBox/index.tsx
  src/components/PesquisaBox/styled.module.scss
  src/components/PesquisaBox/type.tsx
  src/components/star/index.tsx
  src/mocks/pesquisa.tsx
  src/pages/Form/OrderForm/index.tsx
  src/pages/Form/OrderForm/styled.module.scss
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

refactor: style orderform #10
  src/components/PesquisaBox/styled.module.scss
Due: none

feat(routes): implement api route connection #19
  src/domain/dto/http/http-response.ts
  src/domain/dto/login/loggedUser-dto.ts
  src/domain/dto/login/login-dto.ts
  src/helpers/abstract/adapters/httpRequest-adapter-interface.ts
  src/helpers/abstract/token/tokenHandler-helper-interface.ts
  src/helpers/adapters/httpRequest-adapter.ts
  src/helpers/token/tokenHandler-helper.ts
  src/infra/api/abstract/connection/apiConnection-abstract.ts
  src/infra/api/abstract/routers/auth/authRouter-interface.ts
  src/infra/api/abstract/routers/category/categoryRouter-interface.ts
  src/infra/api/abstract/routers/ingredient/ingredientRouter-interface.ts
  src/infra/api/abstract/routers/order/orderRouter-interface.ts
  src/infra/api/abstract/routers/product/productRouter-interface.ts
  src/infra/api/abstract/routers/restaurant/restaurantRouter-interface.ts
  src/infra/api/abstract/routers/review/review-router.ts
  src/infra/api/abstract/routers/table/table-router.ts
  src/infra/api/abstract/routers/user/userRouter-interface.ts
  src/infra/api/connection/apiConnection.ts
  src/infra/api/factories/routers/auth/authRouter-factory.ts
  src/infra/api/factories/routers/category/categoryRouter-factory.ts
  src/infra/api/factories/routers/ingredient/ingredientRouter-factory.ts
  src/infra/api/factories/routers/order/orderRouter-factory.ts
  src/infra/api/factories/routers/product/productRouter-factory.ts
  src/infra/api/factories/routers/restaurant/restaurantRouter-factory.ts
  src/infra/api/factories/routers/review/reviewRouter-factory.ts
  src/infra/api/factories/routers/table/tableRouter-factory.ts
  src/infra/api/factories/routers/user/userRouter-factory.ts
  src/infra/api/routers/auth/auth-router.ts
  src/infra/api/routers/category/category-router.ts
  src/infra/api/routers/ingredient/ingredient-router.ts
  src/infra/api/routers/order/order-router.ts
  src/infra/api/routers/product/product-router.ts
  src/infra/api/routers/restaurant/restaurant-router.ts
  src/infra/api/routers/review/review-router.ts
  src/infra/api/routers/table/table-router.ts
  src/infra/api/routers/user/user-router.ts
  src/store/slices/user-slice.ts
  src/store/store.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix

feat: create IngredientForm
  src/pages/Form/IngredientForm/index.tsx
  src/pages/Form/IngredientForm/styled.module.scss
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

refactor: add @mediaquery for galaxy fold #4
  src/pages/Form/UserForm/styled.module.scss
Due: none

chore(infra): implement router redux integration #19
  src/infra/api/abstract/routers/order/orderRouter-interface.ts
  src/infra/api/routers/auth/auth-router.ts
  src/infra/api/routers/order/order-router.ts
  src/store/slices/category-slice.ts
  src/store/slices/ingredient-slice.ts
  src/store/slices/order-slice.ts
  src/store/slices/product-slice.ts
  src/store/slices/restaurant-slice.ts
  src/store/slices/review-slice.ts
  src/store/slices/table-slice.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix

update login
  src/components/form/form.scss
Due: none

feat: update pages login LogIn page #14
  src/components/form/form.scss
  src/pages/Login/Login.scss
Due: none

feat: finish
  src/pages/Login/Login.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: create qrcode #24
  src/pages/Login/Login.tsx
  src/pages/Qrcode/Qrcode.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: create TableForm #7
  src/pages/Form/TableForm/index.tsx
  src/pages/Form/TableForm/styled.module.scss
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(infra): implement admin routers #19
  src/infra/api/abstract/routers/category/categoryAdminRouter-interface.ts
  src/infra/api/abstract/routers/ingredient/ingredientAdminRouter-interface.ts
  src/infra/api/abstract/routers/order/orderRouter-interface.ts
  src/infra/api/abstract/routers/order/orderRouterAdmin-interface.ts
  src/infra/api/abstract/routers/product/productRouterAdmin-interface.ts
  src/infra/api/abstract/routers/restaurant/restaurantRouterAdmin-interface.ts
  src/infra/api/abstract/routers/review/reviewRouter-interface.ts
  src/infra/api/abstract/routers/review/reviewRouterAdmin-interface.ts
  src/infra/api/abstract/routers/role/roleRouterAdmin-interface.ts
  src/infra/api/abstract/routers/table/tableRouter-interface.ts
  src/infra/api/abstract/routers/table/tableRouterAdmin-interface.ts
  src/infra/api/abstract/routers/user/userRouterAdmin-interface.ts
  src/infra/api/factories/routers/category/categoryAdminRouter-factory.ts
  src/infra/api/factories/routers/ingredient/IngredientAdminRouter-factory.ts
  src/infra/api/factories/routers/order/orderRouterAdmin-factory.ts
  src/infra/api/factories/routers/product/productAdminRouter-factory.ts
  src/infra/api/factories/routers/restaurant/restaurantAdminRouter-factory.ts
  src/infra/api/factories/routers/review/reviewAdminRouter-factory.ts
  src/infra/api/factories/routers/review/reviewRouter-factory.ts
  src/infra/api/factories/routers/role/roleAdminRouter-factory.ts
  src/infra/api/factories/routers/table/tableAdminRouter-factory.ts
  src/infra/api/factories/routers/table/tableRouter-factory.ts
  src/infra/api/factories/routers/user/userAdminRouter-factory.ts
  src/infra/api/routers/category/categoryAdmin-router.ts
  src/infra/api/routers/ingredient/ingredientAdmin-router.ts
  src/infra/api/routers/order/order-router.ts
  src/infra/api/routers/order/orderAdmin-router.ts
  src/infra/api/routers/product/productAdmin-router.ts
  src/infra/api/routers/restaurant/restaurantAdmin-router.ts
  src/infra/api/routers/review/review-router.ts
  src/infra/api/routers/review/reviewAdmin-router.ts
  src/infra/api/routers/role/roleAdmin-router.ts
  src/infra/api/routers/table/table-router.ts
  src/infra/api/routers/table/tableAdmin-router.ts
  src/infra/api/routers/user/userAdmin-router.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix

fix(abstract): fix interface imports #19
  src/infra/api/routers/order/orderAdmin-router.ts
  src/infra/api/routers/review/reviewAdmin-router.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix

feat(store): implement redux store #19
  src/store/slices/category-slice.ts
  src/store/slices/ingredient-slice.ts
  src/store/slices/order-slice.ts
  src/store/slices/product-slice.ts
  src/store/slices/restaurant-slice.ts
  src/store/slices/review-slice.ts
  src/store/slices/role-slice.ts
  src/store/slices/table-slice.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix

feat Creation of the category page and creation of the productbutton component #22
  src/components/ProductButton/index.tsx
  src/components/ProductButton/styled.ts
  src/pages/CategoryPage/index.tsx
  src/pages/CategoryPage/styled.ts
  src/pages/Form/styled.ts
  src/pages/Home/index.tsx
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

freat: generate qrcode
  package-lock.json
  package.json
  src/pages/Qrcode/Qrcode.scss
  src/pages/Qrcode/Qrcode.tsx
  src/routes/router.tsx
  yarn.lock
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: update qrcode scss Generate QrCode #24
  src/components/form/form.scss
  src/pages/Qrcode/Qrcode.scss
  src/pages/Qrcode/Qrcode.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(pages): implement redux integration
  package.json
  src/components/CategoryBox/index.tsx
  src/infra/api/connection/apiConnection.ts
  src/infra/api/routers/order/orderAdmin-router.ts
  src/pages/Home/index.tsx
  src/pages/Home/styled.ts
  src/routes/index.tsx
  src/store/slices/category-slice.ts
  yarn.lock
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix
