Repository hyperlocal-equipe-5/hyperlocal-front: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

fix(dataLoader): fix restaurant id store
  src/components/DataLoader/DataLoader.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(components): implement qr code generator
  src/components/Qrcode/Qrcode.scss
  src/components/Qrcode/Qrcode.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(pages): add table list page
  src/pages/TableListPage/TableListPage.tsx
  src/pages/TableListPage/styled.module.scss
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(pages): add table qrcode viewer page
  src/pages/TableQrCode/TableQrCode.tsx
  src/pages/TableQrCode/styled.module.scss
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(router): add table page routes
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

fix: fixing router error
  src/components/navbar/index.tsx
  src/pages/Add/index.tsx
  src/pages/Home/index.tsx
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

refactor: changing color and flex for grid
  src/components/BoxesBody/BoxesBody.tsx
  src/components/BoxesBody/styled.module.scss
  src/components/Header/index.tsx
  src/pages/Home/index.tsx
  src/pages/TableListPage/TableListPage.tsx
  src/pages/TableListPage/styled.module.scss
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

refactor:changing name of productButton and including style title #30
  .gitignore
  src/components/BoxesBody/BoxesBody.tsx
  src/components/SelectButton/index.tsx
  src/pages/Add/index.tsx
  src/pages/TableListPage/TableListPage.tsx
  src/pages/TableListPage/styled.module.scss
  src/style/Title.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: creating new route for employees #30
  src/components/Header/index.tsx
  src/components/Navbar/index.tsx
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

refactor: creating the BoxButton component and refactoring the CategoryBox#30
  src/components/BoxButton/index.tsx
  src/components/CategoryBox/index.tsx
  src/components/CategoryBox/styled.ts
  src/pages/CategoryPage/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

fix(app): implement entities
  src/domain/dto/order/createOrder-dto.ts
  src/domain/dto/order/updateOrder-dto.ts
  src/domain/dto/review/createReview-dto.ts
  src/domain/dto/review/updateReview-dto.ts
  src/domain/dto/reviewQuestion/createReviewQuestion-dto.ts
  src/domain/dto/reviewQuestion/updateReviewQuestion-dto.ts
  src/domain/dto/role/createRole-dto.ts
  src/domain/dto/role/updateRole-dto.ts
  src/domain/entities/ingredient.ts
  src/domain/entities/order.ts
  src/domain/entities/passwordRecoveryToken.ts
  src/domain/entities/restaurant.ts
  src/domain/entities/review.ts
  src/domain/entities/reviewQuestion.ts
  src/domain/entities/role.ts
  src/infra/api/abstract/routers/reviewQuestion/reviewQuestionAdminRouter-interface.ts
  src/infra/api/abstract/routers/reviewQuestion/reviewQuestionRouter-interface.ts
  src/infra/api/factories/routers/reviewQuestion/reviewQuestionAdminRouter-factory.ts
  src/infra/api/factories/routers/reviewQuestion/reviewQuestionRouter-factory.ts
  src/infra/api/routers/reviewQuestion/reviewQuestion-router.ts
  src/infra/api/routers/reviewQuestion/reviewQuestionAdmin-router.ts
  src/store/slices/order-slice.ts
  src/store/slices/product-slice.ts
  src/store/slices/restaurant-slice.ts
  src/store/slices/review-slice.ts
  src/store/stubs/entities/role-stub.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix

fix: repairing components to authToken
  src/components/BoxButton/index.tsx
  src/infra/api/routers/auth/auth-router.ts
  src/pages/Add/index.tsx
  src/pages/Cadastro/Cadastro.tsx
  src/pages/Employees/index.tsx
  src/pages/Login/Login.tsx
  src/pages/Menu/index.tsx
  src/pages/TableListPage/TableListPage.tsx
  src/pages/TableListPage/styled.module.scss
  src/pages/TableQrCode/TableQrCode.tsx
  src/style/Container.tsx
  src/style/Title.tsx
  tailwind.config.cjs
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(helpers): add user access validator helper
  src/components/AccessValidator/AccessValidator.tsx
  src/helpers/abstract/handlers/userIdHandler-helper-interface.ts
  src/helpers/handlers/userId/userIHandler-helper.ts
  src/helpers/validators/userAccess-validator.ts
  src/infra/api/factories/routers/auth/authRouter-factory.ts
  src/infra/api/routers/auth/auth-router.ts
  src/pages/TableListPage/TableListPage.tsx
  src/types/UserAccessType.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

fix: changing category, menu and product layout #30
  src/components/CategoryBox/index.tsx
  src/components/CategoryBox/styled.ts
  src/components/SelectButton/index.tsx
  src/pages/CategoryPage/index.tsx
  src/pages/Menu/index.tsx
  src/pages/ProductPage/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

refactor: changing navbar and header #30
  src/components/CategoryBox/styled.ts
  src/components/Header/index.tsx
  src/components/Navbar/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

change: changing name categoryBox for RowBox
  src/components/BoxButton/index.tsx
  src/components/RowBoxex/index.tsx
  src/pages/Menu/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

refactor: refactoring add page, form input in the interface and changing categoryPage
  src/components/ColumnBox/index.tsx
  src/components/Form/index.tsx
  src/pages/Add/index.tsx
  src/pages/CategoryPage/index.tsx
  tailwind.config.cjs
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

fix: carousel and refactor style home #29
  src/components/Carousel/Carousel.tsx
  src/components/Carousel/styled.module.scss
  src/mocks/produtos.tsx
  src/pages/Home/index.tsx
  src/pages/Home/styled.module.scss
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(pages): implement api connection
  src/components/DropdownButton/index.tsx
  src/components/Header/index.tsx
  src/domain/dto/product/createProduct-dto.ts
  src/infra/api/routers/category/categoryAdmin-router.ts
  src/pages/Add/AddCategory/index.tsx
  src/pages/Add/AddProduct/index.tsx
  src/pages/Add/AddRestaurant/index.tsx
  src/pages/CategoryPage/index.tsx
  src/store/slices/category-slice.ts
  src/types/Dto/InputDto.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: Changing box and pages
  src/components/BoxesBody/BoxesBody.tsx
  src/components/BoxesBody/styled.module.scss
  src/components/ColumnBox/index.tsx
  src/components/Header/index.tsx
  src/components/Navbar/index.tsx
  src/pages/CategoryPage/index.tsx
  src/pages/Menu/index.tsx
  src/store/slices/product-slice.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

fix: fixing changes in the state from redux
  src/components/DropdownButton/index.tsx
  src/components/Header/index.tsx
  src/pages/Add/AddCategory/index.tsx
  src/pages/Add/AddProduct/index.tsx
  src/pages/Add/AddRestaurant/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: create box pedido cozinha #10
  src/pages/Form/OrderForm/index.tsx
  src/pages/Form/OrderForm/styled.module.scss
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(feat): feat everything
  src/components/DataLoader/DataLoader.tsx
  src/helpers/abstract/handlers/tableIdHandler-helper-interface.ts
  src/helpers/handlers/tableId/tableIdHandler-helper.ts
  src/infra/api/routers/role/roleAdmin-router.ts
  src/pages/Add/AddOrder/index.tsx
  src/pages/Add/AddProduct/index.tsx
  src/pages/Form11/RoleForm/index.tsx
  src/pages/ProductPage/index.tsx
  src/store/slices/customerOrderSlice.ts
  src/store/slices/product-slice.ts
  src/store/slices/table-slice.ts
  src/store/store.ts
  src/style/Button.tsx
  src/types/InputTypes.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

refactor: refactoring userAdd
  src/components/DataLoader/DataLoader.tsx
  src/components/Header/index.tsx
  src/components/RowBox/index.tsx
  src/infra/api/routers/category/categoryAdmin-router.ts
  src/pages/Add/AddUser/index.tsx
  src/pages/Form11/RestaurantForm/index.tsx
  src/pages/Form11/RoleForm/index.tsx
  src/pages/Form11/UserForm/index.tsx
  src/pages/Home/index.tsx
  src/pages/Menu/index.tsx
  src/routes/index.tsx
  src/types/Dto/InputDto.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: create restaurant page
  src/components/Restaurants/index.tsx
  src/components/Restaurants/styled.module.scss
  src/pages/Restaurant/index.tsx
  src/pages/Restaurant/styled.module.scss
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

refactor: addProduct
  src/pages/Add/AddProduct/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: add img input
  src/pages/Add/AddProduct/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat(pages): implement api connection
  src/components/DataLoader/DataLoader.tsx
  src/components/Form/index.tsx
  src/helpers/abstract/handlers/orderProductsHandler-helper-interface copy.ts
  src/helpers/handlers/orderProductIds/orderProductsHandler-helper.ts
  src/pages/Add/AddOrder/index.tsx
  src/pages/ProductPage/index.tsx
  src/pages/TableListPage/TableListPage.tsx
  src/pages/TableQrCode/TableQrCode.tsx
  src/routes/index.tsx
  src/store/slices/customerOrderSlice.ts
  src/store/slices/ingredient-slice.ts
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

fix(pages): fix imports
  src/pages/Add/AddOrder/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: include ImageInput in addRestaurant
  src/components/AccessValidator/AccessValidator.tsx
  src/pages/Add/AddProduct/index.tsx
  src/pages/Add/AddRestaurant/index.tsx
  src/pages/Form11/RoleForm/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

fix: fixing error in product page
  src/pages/Add/addTable/index.tsx
  src/pages/Menu/index.tsx
  src/pages/ProductPage/index.tsx
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: mudanças para apresentar
  src/components/ColumnBox/index.tsx
  src/components/Header/index.tsx
  src/components/RowBox/index.tsx
  src/pages/Add/AddCategory/index.tsx
  src/pages/Add/AddOrder/index.tsx
  src/pages/Add/AddProduct/index.tsx
  src/pages/Add/AddRestaurant/index.tsx
  src/pages/Add/AddUser/index.tsx
  src/pages/Add/addTable/index.tsx
  src/pages/Form11/RoleForm/index.tsx
  src/pages/Form11/UserForm/index.tsx
  src/pages/Form11/UserForm/styled.module.scss
  src/pages/Form11/index.tsx
  src/pages/Login/Login.tsx
  src/pages/ProductPage/index.tsx
  src/pages/ProductPage/styled.ts
  src/pages/TableListPage/TableListPage.tsx
  src/routes/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.ts" --fix, eslint "{src,apps,libs,test}/**/*.tsx" --fix

feat: changes in main
  src/components/Header/index.tsx
  src/pages/Add/AddOrder/index.tsx
  src/pages/CategoryPage/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

fix: novo up
  src/components/Header/index.tsx
  src/components/Navbar/index.tsx
Due: eslint "{src,apps,libs,test}/**/*.tsx" --fix

Path conditions:
  eslint "{src,apps,libs,test}/**/*.ts" --fix: any of: *.ts
  eslint "{src,apps,libs,test}/**/*.tsx" --fix: any of: *.tsx
